@{
    ViewData["Title"] = "Справка";
}
<div class="container mt-4">
    <h2>О разработчике</h2>
    <p>
        QuotesApp — учебный проект на ASP.NET Core MVC.<br />
        Разработчик: <b>Алан Козаев</b>.<br />
        Email: <b>akozaev17@gmail.com</b>
    </p>
    <p>Данное веб-приложение создано для обмена цитатами</p>
</div> 